OPENAI_API_KEY=sk-xxx
DEEPSEEK_API_KEY=sk-xxx
FECMALL_BASE_URL=http://localhost/appserver
FECMALL_DEFAULT_CURRENCY=USD
FECMALL_DEFAULT_LANG=en_US
MILVUS_URI=http://localhost:19530
MILVUS_TOKEN=
EMBEDDING_BASE_URL=https://api.openai.com/v1
EMBEDDING_API_KEY=sk-xxx
EMBEDDING_MODEL=text-embedding-3-small
WEATHER_API_KEY=xxx
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=lsv2_sk_xxx
LANGSMITH_PROJECT=fecmall-agent-dev
